<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>studyBuddy</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/main.css' %}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">{% block content %} {% endblock %}</div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>

    {% endif %}
    <img src="{%static 'images/image1.jpg' %}" />
  </body>
</html>
